body{background-color: #212121;
    color: aliceblue;
}
.outerbox{
background-color: rgb(210, 215, 215);
 border: 5px black solid;
 height: 700px;
 width: 450px;
 display: inline-block;
 position: fixed;
 left: 200px;
 top: 50px;
 border-radius: 15px;
 color: black;
 font-size: 18px;
 font-style: normal;
 text-transform: capitalize;
 font-weight: 500px;
 text-align: center;
 padding-top: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
}
/* .button{
    height: 100px;
    width: 100px;
    border: 2px black solid;
    display: inline-block;
    margin: 10px;
    border-radius: 5px; */
/* } */
.navbar{
    height: 50px;
    width: 450px;
    border: 3px black solid;
    margin-top: 0px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    bottom: 30px;
    right: 2px;
}

#HOME{
  height: 26px;
  width: 150px;
  border: 2px black solid;
  display: inline-block;
  display: flexbox;
  justify-content: center;
  margin-top: 10px;
  margin-right: 20px;
  background-color: #adabab;
  border-radius: 4px;
}
#youtube{
    height: 26px;
  width: 150px;
  border: 2px black solid;
  display: inline-block;
  display: flexbox;
  justify-content: center;
  border-radius: 4px;
}
a{
    text-decoration: none;
    color: #212121;
    font-weight: 5px;
}
 #height,
 #Weight{
    width: 180px;
    height: 28px;
    border-radius: 5px;

 }
button{
    height: 60px;
    width: 180px;
    font-size: x-large;
    border-radius: 8px;
    background-color: #adabab;

}
#results{
    padding-top: 40px;
     height: 70px;
     text-align: center;
     font-size: 30px;
     color: rgb(26, 92, 10);
}

/* #red{
    background-color: red;
    
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}#gray{
    background-color: gray;
}
#yellow{
    background-color: yellow;
} */